@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Gudea:400,700,400italic);

html {
  height: 100%;
}
body {
  font-family: Gudea, serif;
  height: 100%;
}
ul { 
  list-style: none; 
  margin-bottom: 0px; 
  font-size: 12pt;
}
ul.noIndent {
  margin-left:0;
}
li { 
  font-size: 12pt;
}
h1 { 
  font-size: 28pt; 
  margin:10px 0px 15px 0px; 
  font-weight:400; 
}
h2 { 
  font-size: 20pt; 
  margin:0px 0px 0px 0px; 
  font-weight:400; 
}
h3 { 
  font-size: 14pt; 
  margin:0px 0px 0px 0px; 
  font-weight:400; 
}
p  { 
  font-size: 12pt; 
  margin:5px 0px 15px 0px; 
}
a, a:visited{ 
  text-decoration: none; 
  color: #0088cc; 
  cursor: hand; 
}
a.hlink { 
  font-weight: bold; 
  line-height: 150%; 
  font-size: 32pt; 
  font-weight: 400; 
  text-decoration: none; 
  vertical-align: middle; 
  font-family: 'Segoe UI Light', 'Helvetica Neue', 'RobotoLight', 'Segoe UI', 'Segoe WP', sans-serif;
}
a.hlink:hover { 
  color: white; 
  background: #0088cc; 
}
a.Collapsable, a.inactivelink{ 
  color:black
}
a.Collapsable:before {
  content: '+'; 
  margin-right: 4px;
}
a.Collapsable.collapsed:before {
  content: '-'; 
  margin-right: 4px;
}
a.underline:after {
  content: ''; 
  display: block; 
  height: 1px; 
  width: 100%; 
  background: #ddd; 
  margin: 0px 0px;
}
a.Unchanged, a.inactivelink{ 
  cursor:default; 
  pointer-events: none;
}
td > ul, th > ul{
  margin-left: 0px;
}
td,th{
  padding: 0px;
}
th{ 
  font-weight: normal;
}
table {
  width: 100%;
}
table.legend {
  width: auto;
}
table.accordion {
  table-layout: fixed; 
  white-space: nowrap; 
  margin-bottom: 0px;
}
table.row_diffViewer td, table.row_diffViewer th {
  word-break: break-all; 
  width: 50%;
}
thead {
  color: white; 
  background-color: #373F4C;
}
tbody.bb tr{ 
  border-bottom: 1pt solid lightgray;
}
tbody.rb td:first-child{ 
  border-right: 1pt solid lightgray;
}
tbody.smallfont tr{
  font-size: 14px;
}
.container-fluid { 
  padding-left: 40px; 
  padding-right: 40px; 
  height: calc(100% - 50px);
}
.diffBlock { 
  height:calc((100% - 30px) / 2); 
  margin-bottom: 10px;
}
.scrollbody { 
  height: calc(100% - 65px); 
  overflow-y:scroll;
  overflow-x:hidden; 
  margin-right: -17px;
}
.row-name {
  width: 48%;
}
.row-fluid {
  height: calc(100% - 53px);
}
.span2 {
  margin-left: 3%;
}
.span10 {
  height: 100%;
}
.masthead {
  background-color: #373F4C; 
  overflow: hidden;
}
.Unchanged:before { 
  width: 12px;
  margin-right: 4px; 
  content: url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CiAgPGcgdHJhbnNmb3JtPSJzY2FsZSgwLjc1KSI+CiAgICA8cGF0aCBpZD0icGF0aDEiIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgdHJhbnNmb3JtPSJyb3RhdGUoMCw4LDgpIHRyYW5zbGF0ZSgwLDApIHNjYWxlKDAuMjUsMC4yNSkgICIgZmlsbD0iIzAwRkYwMCIgZD0iTTY0LDMyQzY0LDQ5LjY3MzExMiA0OS42NzMxMTIsNjQgMzIsNjQgMTQuMzI2ODg4LDY0IDAsNDkuNjczMTEyIDAsMzIgMCwxNC4zMjY4ODggMTQuMzI2ODg4LDAgMzIsMCA0OS42NzMxMTIsMCA2NCwxNC4zMjY4ODggNjQsMzJ6IiAvPgogIDwvZz4KPC9zdmc+');
}
.Changed:before { 
  width: 12px;
  margin-right: 4px; 
  content :url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CiAgPGcgdHJhbnNmb3JtPSJzY2FsZSgwLjc1KSI+CiAgICA8cGF0aCBpZD0icGF0aDEiIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgdHJhbnNmb3JtPSJyb3RhdGUoMCw4LDgpIHRyYW5zbGF0ZSgwLDApIHNjYWxlKDAuMjUsMC4yNSkgICIgZmlsbD0iI0ZGMDAwMCIgZD0iTTY0LDMyQzY0LDQ5LjY3MzExMiA0OS42NzMxMTIsNjQgMzIsNjQgMTQuMzI2ODg4LDY0IDAsNDkuNjczMTEyIDAsMzIgMCwxNC4zMjY4ODggMTQuMzI2ODg4LDAgMzIsMCA0OS42NzMxMTIsMCA2NCwxNC4zMjY4ODggNjQsMzJ6IiAvPgogIDwvZz4KPC9zdmc+');
}
.NotInSource:before { 
  width: 12px;
  margin-right: 4px; 
  content :url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodCA9ICIxMiI+DQogIDxnIHRyYW5zZm9ybT0ic2NhbGUoMC43NSkiPg0KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsMy4wNjM4NTM3NzA0NDkxNSkiPg0KICAgICAgPHBhdGggaWQ9InBhdGgxIiBoZWlnaHQ9IjE2IiB3aWR0aD0iMTYiIHRyYW5zZm9ybT0icm90YXRlKDE4MCw4LDQuOTM2MTQ2MjI5NTUwODUpIHNjYWxlKDAuMDMwOTQ4MDEzMTEzMzMyOCwwLjAzMDk0ODAxMzExMzMzMjgpICAiIGZpbGw9IiMwMDAwMDAiIGQ9Ik0zMzMuMTEyNTUxNTQ2NjU2LDBMNTE2Ljk5NjAzNTQzMzM3NCwxNTkuNTE5MTcyMTAzMTQ0IDMzMy4xMTI1NTE1NDY2NTYsMzE4Ljk5NTk5NDAwMjU1OCAyODQuMzMwNjkxMTk1MDkzLDI3Ni42NjI1NTg5NDM5NjUgMzg0LjkyMzYxNzIyMDQ4NCwxODkuMzg4NzU1MjMzMDI3IDAsMTg5LjQyOTgxNjYzNDM5NCAwLDEyOS41ODY3MDc1MDM1MzUgMzg0LjkyMzYxNzIyMDQ4NCwxMjkuNTY2MTg0NDMyMjQ2IDI4NC4zMzA2OTExOTUwOTMsNDIuMzEyODk5OTc3OTAwMXoiIC8+DQogICAgPC9nPg0KICA8L2c+DQo8L3N2Zz4NCg==');
}
.NotInTarget:before { 
  width: 12px;
  margin-right: 4px; 
  content :url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodCA9ICIxMiI+DQogIDxnIHRyYW5zZm9ybT0ic2NhbGUoMC43NSkiPg0KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsMy4wNjM4NTM3NzA0NDkxNSkiPg0KICAgICAgPHBhdGggaWQ9InBhdGgxIiBoZWlnaHQ9IjE2IiB3aWR0aD0iMTYiIHRyYW5zZm9ybT0icm90YXRlKDAsOCw0LjkzNjE0NjIyOTU1MDg1KSBzY2FsZSgwLjAzMDk0ODAxMzExMzMzMjgsMC4wMzA5NDgwMTMxMTMzMzI4KSAgIiBmaWxsPSIjMDAwMDAwIiBkPSJNMzMzLjExMjU1MTU0NjY1NiwwTDUxNi45OTYwMzU0MzMzNzQsMTU5LjUxOTE3MjEwMzE0NCAzMzMuMTEyNTUxNTQ2NjU2LDMxOC45OTU5OTQwMDI1NTggMjg0LjMzMDY5MTE5NTA5MywyNzYuNjYyNTU4OTQzOTY1IDM4NC45MjM2MTcyMjA0ODQsMTg5LjM4ODc1NTIzMzAyNyAwLDE4OS40Mjk4MTY2MzQzOTQgMCwxMjkuNTg2NzA3NTAzNTM1IDM4NC45MjM2MTcyMjA0ODQsMTI5LjU2NjE4NDQzMjI0NiAyODQuMzMwNjkxMTk1MDkzLDQyLjMxMjg5OTk3NzkwMDF6IiAvPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=');
}